.content{
    width: 50%;
    margin-left: 5%;
}
.img{
    /* margin-left: 65%; */
    
}
.main{
    width: 600%;
    border-radius: 5%;
}
.fullBody{
    background-color: rgb(219, 243, 243);
   
}
.ques{
    display: inline-block;
}
/* .text{
    width: 20%;
    display: inline-block;
    margin-top: 2%;
}
.small_img{
    display: inline-block;
}
.grid-container{
    grid-template-columns: auto auto;
} */
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px; /* Adjust the gap as needed */
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.small_img {
    width: 100px; /* Adjust the size as needed */
    height: auto;
}

.text {
    margin-top: 8px; /* Adjust the margin as needed */
    
}

h3 {
    margin: 0;
}
