.Procedures_grid_container {
    display: grid;
    grid-template-areas:
      'header header '
      'main right';
    gap: 10px;
    background-color: #e9eff4;
    padding: 10px;
    
  }
  /* .grid-container > div {
    background-color: rgba(230, 212, 212, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  } */

.Procedures_inner_grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
  
.Procedures_Header{
    margin-left: 40%
    
}
.Procedures_Text{
    justify-content: center;
    margin-left: 38%;
    /* margin-right: 15%; */
}

.Procedures_left{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}
.Procedures_right{
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 columns */
    grid-template-rows: repeat(4, auto); /* 4 rows */
    gap: 20px;
}
/* .Procedures_main_img{
    width: 70%;
    border-radius: 5%;
} */
.Procedures_img{
    width: 40%;
}
.Procedures_btn{
    height: 90%;
    border-radius: 10%;
    padding: 8%;

}
.Procedures_btn:hover{
    border-color: brown;
}