.header{
    background-color:rgb(54, 206, 206);
    padding: 0.1%;
   
    
}
.wordsInHeader{
    color: white;
    font-size: 15px;
    margin-left: 70%;
    
}
.imgDiv{
    display: inline-block;  
    
}

.img{
    margin-left: 10%;
    width: 5%;
    border-color: black;
}
.search{
    border-color: black 2px;
    width:30%;  
    margin-left: 30%;
   display: inline-block;
   margin-top: 0%;

}
.main{
    display: flex;
    flex-wrap: wrap;
}
